<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank hello world
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank hello</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-divider>
      <ion-label> Section A </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-textarea rows="15" label="ITGI SSO LINK"  labelPlacement="floating" id="itgiSsoLink" [(ngModel)]="itgiLink"/>
    </ion-item>

    <ion-item>
      <ion-button (click)="clearLink()">Clear</ion-button>
    </ion-item>

    <ion-item>
      <ion-button (click)="openVisitApp()">Open Visit</ion-button>
    </ion-item>

  
  </ion-list>


</ion-content>
